.red {
  color: orangered;
}
.delete-map-modal {
  .title {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
  }
  .description {

  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 18px;
    font-weight: 700;
  }
}
.list-modal {
  font-size: 20px;
  align-items: center;
  .list-modal-item {
  }
}
