.bubble-wrapper {
  display: flex;
  gap: 12px;
  align-items: start;
  &.me {
    flex-direction: row-reverse;
  }
  .avatar {
    width: 64px;
    height: 64px;
    background: white;
    overflow: hidden;
    border-radius: 8px;
  }
  .bubble {
    background: white;
    border-radius: 8px;
    max-width: 60%;
    padding: 2px 8px;
    min-height: calc(1em + 4px);
  }
}
