.nav-bar {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 8px 8px 0 0 ;
  padding: 8px 8px;
  box-shadow: 0 -1px 4px #4C4B55;
  z-index: 5;
}
.item {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  .icon {
  }
  .label {
    font-size: 16px;
    line-height: 16px;
  }
  &.selected {
    background: #333;
    padding: 6px 0;
    border-radius: 8px;
    color: white;
  }
}
