.nav-bar {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.item {
  width: 33%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.selected {
    border: 1px solid blue;
  }
}
