.validation-code-wrapper {
  display: flex;
  margin: 0 48px;
  margin-top: 24px;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 700;
  .digit {
    width: 54px;
    height: 70px;
    left: 36px;
    top: 240px;
    background: rgba(255, 255, 255, 0.53);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgb(0, 0, 0);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .3s;
    border: none;
    &:focus {
      transition: all .3s;
      box-shadow: 0 0 0 rgb(0, 0, 0, 0), inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
