.page-wrapper {
  background-image: url('/signin_bg.jpg');
  background-size: cover;
  background-repeat: repeat;
  font-family: Geo, sans-serif;
}

.content {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .guide {
    margin-left: 48px;
    font-size: 20px;
  }
}
