.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  flex-shrink: 0;
  background: white;
  font-weight: 700;
  font-size: 24px;
  box-shadow: 0 1px 4px #4C4B55;
  z-index: 5;
  .left {
    width: 16%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mid {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 16%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
