.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid red;
  height: 64px;
  flex-shrink: 0;
  .left {
    width: 16%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mid {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right {
    width: 16%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
