.monster-detail-wrapper {
  margin: 12px 0;
  border: 1px solid #4C4B55;
  &:first-child {
    margin-top: 6px;
  }
}
.player-list-wrapper {
}
.add-players-wrapper {
  margin: 12px 0;
  border: 1px solid #4C4B55;
  &:first-child {
    margin-top: 6px;
  }
  &.selected {
    background: #333;
    color: white;
  }
}
.name {
  font-size: 20px;
  font-weight: 700;
}
.monsters-wrapper {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
