.welcome {
  margin-top: 30vh;
  margin-bottom: 6vh;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.input {
  margin: 24px 48px 0 48px;
  font-size: 20px;
}

.button {
  margin-top: 6vh;
}

.bottom {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .sign-in-link {
    margin-bottom: 2vh;
  }
}

