.welcome {
  margin-top: 48px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.button {
  margin-top: 6vh;
}

.bottom {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .sign-in-link {
    margin-bottom: 2vh;
  }
}
